PORT=5000
MONGO_URI=mongodb+srv://yourusername:yourpassword@cluster0.xxxxx.mongodb.net/insurance_assessment?retryWrites=true&w=majority&appName=Cluster0
CPU_THRESHOLD=70
CPU_CHECK_INTERVAL=5000
CRON_EXPRESSION=*/30 * * * * *